{% extends 'inventario_CEI/base.html' %}
{% load static %}
{% block content %}

    <div class="container bs-docs-container">
        <div class="row pt-5 align-items-end">
            <div class="col-8">
                <h1>Objeto <span class="badge badge-success">Disponible</span></h1>
            </div>
            <div class="col-4">
                <h4>Solicitar reserva</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-8 pt-4 pr-4">

                <img src="{% static "img/img.png" %}" alt="objeto" style="width:100%"/>
                <h6>Descripcion</h6>
            </div>

            <div class="col-4 pt-4 ">
                <div style="height:350px;border-style:solid">
                </div>
            </div>

        </div>
    </div>
{% endblock %}