{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Test</title>

    <link rel="stylesheet" href="{% static 'js/fullcalendar/fullcalendar.css' %}"/>
    <script src="{% static 'js/fullcalendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'js/fullcalendar/locale/es.js' %}"></script>

    <script>
        $(function(){
            $('#calendar').fullCalendar({
                weekends: false,
                defaultView: 'agendaWeek',
                allDaySlot: false,
                columnHeaderFormat: 'ddd',
                minTime: "08:00:00",
                maxTime: "19:00:00",
                aspectRatio: 1.925,
                footer:{left:'', center:'prev,next', right:''},
                header:{left:'title',center:'',right:''},
            })
        });
    </script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<body>
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
    <header>
        <div class="container-fluid  bg-light ">
            <div class="navbar navbar-expand-xl navbar-light bg-light justify-content-between">
                <a class="navbar-brand text-white">
                    <img src="{% static "img/cei_logo.png" %}" alt="logo" width="70" height="70"/>
                </a>
                <div class="row align-items-center">
                    <div class="col-sm">
                        <img src="{% static "img/mail.png" %}" alt="mail" width="40" height="30"/>
                    </div>
                    <div class="col-lg">
                        <div class="row">
                            <h4>{{ user }}</h4>
                        </div>
                        <div class="row">
                            {{ user.rut }}-{{ user.get_digito_verificador }}
                        </div>
                        <div class="row">
                            {{ user.email }}
                        </div>
                        <div class="row">
                            {% if user.get_permiso %}
                            <span class="badge badge-success"><h8>Habilitado</h8></span>
                            {% else %}
                            <span class="badge badge-danger"><h8>No Habilitado</h8></span>
                            {% endif %}
                        </div>
                    </div>
                    <a href="/user">
                    <div class="col-sm">
                        <img src="{% static "img/user.png" %}" alt="user" width="70" height="60"/>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>