<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

</head>
<body>
{% load bootstrap4 %}
{% bootstrap_css %}
    <header>
        <div class="container-fluid  bg-info ">
            <div class="navbar navbar-info bg-info justify-content-between ">
                <a class="navbar-brand text-white" href="#">CEI</a>      <!--poner foto aqui-->
                <div class="row">
                    <!--poner icono de correo aca-->
                    <div class="col col-sm">
                        <div class="row">
                            <div class="col-sm">
                                USER
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                rut
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                MAIL
                            </div>
                        </div>
                    </div>
                    <!--poner icono de usuario aca-->
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>