{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Test</title>

    <link rel="stylesheet" href="{% static 'js/fullcalendar/fullcalendar.css' %}"/>
    <script src="{% static 'js/fullcalendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'js/fullcalendar/locale/es.js' %}"></script>

    <script>
        $(function(){
            $('#calendar').fullCalendar({
                weekends: false,
                defaultView: 'agendaWeek',
                allDaySlot: false,
                columnHeaderFormat: 'ddd',
                minTime: "08:00:00",
                maxTime: "19:00:00",
                aspectRatio: 1.925,
                footer:{left:'', center:'prev,next', right:''},
                header:{left:'title',center:'',right:''},
            })
        });
    </script>




</head>
<body>
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
    <header>
        <div class="container-fluid  bg-light ">
            <div class="navbar navbar-expand-xl navbar-light bg-light justify-content-between">
                <a class="navbar-brand text-white" href="#">
                    <img src="{% static "img/cei_logo.png" %}" alt="logo" width="70" height="70"/>
                </a>
                <div class="row align-items-center">
                    <div class="col-sm">
                        <img src="{% static "img/mail.png" %}" alt="mail" width="40" height="30"/>
                    </div>
                    <div class="col-lg">
                        <div class="row">
                            USER
                        </div>
                        <div class="row">
                            RUT
                        </div>
                        <div class="row">
                            MAIL
                        </div>
                    </div>
                    <div class="col-sm">
                        <img src="{% static "img/user.png" %}" alt="user" width="70" height="60"/>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>