{% extends 'inventario_CEI/landingAdminBase.html' %}
{% load static %}
{% block lists %}
    <div class="row pt-5">
        <div class="col-1 m-0">
            <div class="row pb-5 ">
                <span class="fas fa-user" style="font-size:60px;color:#28a745"></span>
            </div>
            <div class="row pb-5 pt-2">
                <a href="/landingAdminArtSpaces" class="dark" style="cursor: pointer;">
                    <span class="fas fa-cart-plus" style="font-size:50px;"></span></a>
            </div>
            <div class="row pb-5 pt-2">
                <a href="/landingAdminCalendar" class="dark" style="cursor: pointer;">
                    <span class="far fa-clock" style="font-size:60px;"></span></a>
            </div>
        </div>
        <div class="col-11">
            <table class="table table-striped">   <!--Tabla-->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Rut</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th><span class="fas fa-plus-circle" style="color:#28a745"></span></th>
                    </tr>
                </thead>
                <tbody> <!--Cuerpo de la tabla, colores= verde:#28a745, rojo :#dc3545-->
                {% for user in list_users %}

                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user.nombres }}</td>
                        <td>{{ user.apellidos }}</td>
                        <td> {{ user.rut }}</td>
                        <td>{{ user.email }}</td>
                        {% if  user.puede_reservar %}
                             <td style="color:#28a745">Habilitado</td>
                        {% else %}
                             <td style="color:#dc3545">Deshabilitado</td>
                        {% endif %}

                        <td>
                            <span class="fas fa-pencil-alt"></span>
                            <span class="fas fa-trash-alt"></span>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
{% endblock %}