{% extends 'inventario_CEI/landing-nat-base.html' %}
{% load static %}
{% block search %}

    <div class="form-group m-0">
        <div class="row">
        <div class="col-10 pr-0 pl-0">
            <input type="text" class="form-control" style="width:100% ">
        </div>
        <div class="col-2 pl-0 pr-0">
            <button type="submit" class="btn" style="width:100% ">Buscar</button>
        </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-2">
            <a href="#">
                Búsqueda Avanzada
            </a>
        </div>
    </div>



{% endblock %}