{% extends 'inventario_CEI/base.html' %}

{% load static %}
{% block content %}
    <div class="container bs-docs-container">
        <div class="row  m-4 justify-content-around" style="height:100px">
            <div class="col-3 align-self-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-light">Artículos</button>
                    <button type="button" class="btn btn-success text-white">Espacios</button>
                </div>
            </div>
        </div>
        <div id="calendar"></div>



    </div>



        {% endblock %}