{% extends 'inventario_CEI/base.html' %}
{% load static %}
{% block content %}
<style>
.centrado{
    display: flex;
    height:150px;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    border-style:solid;
    border-color: dimgray;
}
#centrado {

    display: flex;
    height:150px;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    border-style:solid;
    border-color: dimgray;
}

#centrado2 {

     display: flex;
    height:150px;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    border-style:solid;
    border-color: dimgray;
    border-style: groove;
}
</style>


    <div class="container bs-docs-container">

<!-- BOTONES1: ARTICULO ESPACIO-->
        <div class="row pt-3 m-4 align-items-end">

            <div class="col-6 pr-4"  >
                <div class='centrado' >
                    <h1>Reserva Tu Espacio</h1>
                </div>
            </div>
            <div class="col-6 pl-4"  >
                <div class='inner rounded' id="centrado" >
                    <h1>Pide Tu Artículo</h1>
                </div>
            </div>
        </div>


<!-- BOTONES2: RESERVA PRESTRAMO -->
         <div class="row pt-3 pl-4 m-4 align-items-end">
             <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Reservas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Prestamos</a>
                  </li>
             </ul>
     </div>


<!-- CUADRO1: LISTA  ARTICULO -->
         <div class="row pt-3 pl-4 m-4 align-items-end">

             <div class="col-5 pt-4 pr-4 ">
              <table class="table table-hover">
               <thead>
                <tr> </thead>
               <tbody>
                {% if prestamos %}
                <form method="post">{% csrf_token %}
                    <input type="submit" value="Borrar Seleccionados">
                    {% for prestamo in prestamos %}
                    {% if prestamo.usuario == user %}
                    {% if forloop.counter0 < 10 %}
                    <tr>
                        {% if prestamo.estado == 'p' %}
                        <td> <label><input type="checkbox" name="check[]" value={{prestamo.id}}> </label></td>
                        {% endif %}
                        <td> {{prestamo.articulo}}</td>
                        {% if articulos %}
                        {% for articulo in articulos %}
                        {% if articulo.id == prestamo.articulo.id %}
                        <td> <li><a href="/articulos/{{articulo.id}}/">ver detalle {{articulo.nombre}}</a></li></td>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if prestamo.estado == 'a' %}
                        <td> <span class="badge badge-success"> {{prestamo.get_estado}} </span></td>
                        {% elif prestamo.estado == 'p' %}
                        <td><span class="badge badge-light">{{prestamo.get_estado}}</span></td>
                        {% elif prestamo.estado == 'r' %}
                        <td> <span class="badge badge-danger">{{prestamo.get_estado}}</span></td>
                        {% elif prestamo.estado == 't' %}
                        <td> <span class="badge badge-dark">{{prestamo.get_estado}}</span></td>
                        {% elif prestamo.estado == 'c' %}
                        <td><span class="badge badge-warning">{{prestamo.get_estado}}</span></td>
                    </tr>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
                </form>
                {% endif %}
                </tbody>
              </table>
                  </div>



             <div class="col-6 pt-4 ">
                <div class=" rounded" id='centrado2' style="height:200px;border-style:solid">
                            .........
                </div>
              </div>
         </div>

    </div>
{% endblock %}